<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href='https://matcha.mizu.sh/matcha.css' />
  </head>
  <body>
    <h1>Not adopted pets</h1>

    <a href='/'><button>Go back</button></a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Specie</th>
                <th>Birth Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each pets}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.specie}}</td>
                    <td>{{this.birthDate}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
  </body>
</html>